* {
    font-family: monospace;
    box-sizing: content-box;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.high-scores, .timer {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 0.5em;
}

.high-scores a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    margin-top: 2em;
}

.start p {
    font-size: 2em;
    padding: 3em;
}

.start-button {
    font-size: 2em;
    margin-left: 45%;
    cursor: pointer;
    padding: 4px 17px;
}

.q-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#question{
    padding: 1em;
    font-size: 3em;
    margin-top: 2em;
}

button.btn {
    font-size: 20px;
}


.btns {
    display: grid;
    gap: 10px;

}

.result {
    margin-top: 1em;
}

.hide {
    display: none;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

button#submit {
    margin-left: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

p {
    font-size: 1.5em;
}

h2 {
    font-size: 3em;
}

button#clear-scores, a {
    font-size: 1.3em;
    text-decoration: none;
}

.user-initials {
    font-size: 2em;
}

div#gameOver  {
    margin-left: 25em;
}

